{{/*
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements.  See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership.  The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License.  You may obtain a copy of the License at
 
   http://www.apache.org/licenses/LICENSE-2.0
 
  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied.  See the License for the
  specific language governing permissions and limitations
  under the License.
*/}}

{{- include "polaris.validateRouting" . }}
{{- if .Values.httproute.enabled }}
{{- $fullName := include "polaris.fullname" . }}
{{- $svcPort := get (first .Values.service.ports) "port" }}

apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: {{ $fullName }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "polaris.labels" . | nindent 4 }}
  {{- with .Values.httproute.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  hostnames: {{ .Values.httproute.hosts }}
  # This will be different depending on which Gateway implementation is in use and the configuration of the Gateway resource
  parentRefs:
    - name: {{ .Values.httproute.gatewayName}}
      namespace: {{ .Values.httproute.gatewayNamespace }}
      {{- if .Values.httproute.sectionName }}
      sectionName: {{ .Values.httproute.sectionName }}
      {{- end }}
  rules:
    # We don't specify a matches block here, so the default is a prefix path match on "/" (match every HTTP request)
    # The backend (Service) to send matching requests to
    - backendRefs:
        - name: {{ $fullName }}
          port: {{ $svcPort }}

{{- end }}
