{{/*
Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  The ASF licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied.  See the License for the
specific language governing permissions and limitations
under the License.
*/}}
{{ $s := .site -}}

{{ $downloadsRoot := $s.GetPage "/downloads" -}}
{{ $activeDownloadPages := slice -}}
{{ $eolDownloadPages := slice -}}

{{ with $downloadsRoot -}}
  {{ $activeReleases := $s.Params.active_releases }}

  {{/* Iterate over download pages sorted by weight ascending (lower weight = more recent) */}}
  {{ range .Pages.ByWeight -}}
    {{ $downloadPage := . -}}
    {{/* Skip special pages like "latest" redirect and hidden pages */}}
    {{ if and (ne $downloadPage.Params.type "redirect") (not $downloadPage.Params.toc_hide) -}}
      {{ $version := $downloadPage.Params.release_version -}}
      {{ if $version -}}
        {{ if in $activeReleases $version -}}
          {{ $activeDownloadPages = $activeDownloadPages | append $downloadPage }}
        {{ else -}}
          {{ $eolDownloadPages = $eolDownloadPages | append $downloadPage }}
        {{ end -}}
      {{ end -}}
    {{ end -}}
  {{ end -}}
{{ end -}}

{{ return (dict "active" $activeDownloadPages "eol" $eolDownloadPages) }}

