<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one
  ~ or more contributor license agreements.  See the NOTICE file
  ~ distributed with this work for additional information
  ~ regarding copyright ownership.  The ASF licenses this file
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License.  You may obtain a copy of the License at
  ~
  ~   http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied.  See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  -->
<link rel="shortcut icon" href="/favicons/favicon.ico">
<link rel="apple-touch-icon" href="/favicons/apple-touch-icon.png" sizes="180x180">
<link rel="icon" type="image/png" href="/favicons/favicon.png" sizes="100x100">
<link rel="icon" type="image/png" href="/favicons/android-chrome-maskable-192x192.png" sizes="192x192">
<link rel="icon" type="image/png" href="/favicons/android-chrome-maskable-512x512.png" sizes="512x512">
<!-- Adding the SVG lets the favicon appear extremely tiny in Firefox :(
<link rel="icon" href="/favicons/favicon.svg" type="image/svg+xml">
-->