{{/*
Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  The ASF licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied.  See the License for the
specific language governing permissions and limitations
under the License.
*/}}
{{/* The "active" toggle here may delay rendering, so we only cache this side bar menu for bigger sites. */ -}}
{{ $sidebarCacheLimit := .Site.Params.ui.sidebar_cache_limit | default 2000 -}}
{{ $shouldCache := ge (len .Site.Pages) $sidebarCacheLimit -}}
{{ $sidebarCacheTypeRoot := .Site.Params.ui.sidebar_cache_type_root | default false -}}
{{ if $shouldCache -}}
  {{ $mid := printf "m-%s" (.RelPermalink | anchorize) }}
  <script>
    $(function() {
    $("#td-section-nav a").removeClass("active");
    $("#td-section-nav #{{ $mid }}").addClass("active"); 
    $("#td-section-nav #{{ $mid }}-li span").addClass("td-sidebar-nav-active-item"); 
    $("#td-section-nav #{{ $mid }}").parents("li").addClass("active-path"); 
    $("#td-section-nav li.active-path").addClass("show"); 
    $("#td-section-nav li.active-path").children("input").prop('checked', true);
    $("#td-section-nav #{{ $mid }}-li").siblings("li").addClass("show");  
    $("#td-section-nav #{{ $mid }}-li").children("ul").children("li").addClass("show");  
    $("#td-sidebar-menu").toggleClass("d-none"); 
    });
  </script>
  {{ partialCached "sidebar-releases-tree.html" . .FirstSection.RelPermalink }}
{{ else -}}
  {{ partial "sidebar-releases-tree.html" . }}
{{- end }}