{{/*
Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  The ASF licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied.  See the License for the
specific language governing permissions and limitations
under the License.
*/}}
{{ if .Site.Params.archived_version }}
  {{ $color := "primary" }}
  {{ $latestVersion := .Site.Params.url_latest_version }}
  {{ $currentVersion := .Site.Params.version }}
  <div class="pageinfo pageinfo-{{ $color }}">
    {{ with $currentVersion }}<p>Version {{ . | markdownify }} of the
      documentation is no longer actively maintained. The site that you are
      currently viewing is an archived snapshot.
      {{ with $latestVersion }}For up-to-date documentation, see the
        <a href="{{ $latestVersion | safeURL }}" target="_blank">latest version</a>.</p>
      {{ end }}
    {{ end }}
  </div>
{{ else if hasPrefix .RelPermalink "/in-dev/unreleased" }}
  <div class="pageinfo pageinfo-warning">
    <p>
      <strong>IMPORTANT:</strong> Developer documentation for the current <code>main</code> branch.
      This content is unreleased and may change before the next Polaris release.
      For stable user documentation, see the
      <a href="/releases/latest/">latest release docs</a>.
    </p>
  </div>
{{ end }}
