#
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#

LANG=en_US.utf8                                     # Default system locale used inside containers
TZ=UTC                                              # Timezone used inside containers
DASHBOARD_PORT=8443                                 # Port for Ceph Dashboard
INTERNAL_DASHBOARD_PORT=8443                        # Internal port for Ceph Dashboard
RGW_PORT=8080                                       # Port for Rados Gateway
MON_IP=$(hostname -i)                               # IP address of the monitor
RGW_ACCESS_KEY=POLARIS123ACCESS                     # Access key for Polaris S3 user
RGW_SECRET_KEY=POLARIS456SECRET                     # Secret key for Polaris S3 user
FSID=b2f59c4b-5f14-4f8c-a9b7-3b7998c76a0e           # Unique cluster identifier (use `uuidgen` to regenerate)
OSD_UUID_1=80505106-0d32-4777-bac9-3dfc901b1273     # Unique OSD identifier (use `uuidgen` to regenerate)
S3_ENDPOINT_URL=http://rgw1:7480                    # Internal endpoint for S3-compatible RGW service
S3_REGION=us-east-1                                 # S3 region name
S3_POLARIS_BUCKET=polaris-storage                   # Default S3 bucket name for Polaris storage