{{!
Note that this template is copied from https://github.com/OpenAPITools/openapi-generator/blob/783e68c7acbbdcbb2282d167d1644b069f12d486/modules/openapi-generator/src/main/resources/JavaJaxRS/resteasy/queryParams.mustache
It is here to remove some unsupported swagger annotations
}}{{#isQueryParam}}{{!

    }}{{^isContainer}}{{!
        }}{{#defaultValue}}{{!
            }} @DefaultValue("{{{defaultValue}}}"){{!
        }}{{/defaultValue}}{{!
    }}{{/isContainer}}{{!

    }} @QueryParam("{{baseName}}"){{!

    }}{{#useBeanValidation}} {{>beanValidation}}{{/useBeanValidation}}{{!

    }} {{{dataType}}} {{paramName}}{{!

}}{{/isQueryParam}}