@JsonTypeInfo(
    use = JsonTypeInfo.Id.NAME,
    include = JsonTypeInfo.As.EXISTING_PROPERTY,
    property = "{{propertyName}}",
    visible = true
)
@JsonSubTypes({
{{#mappedModels}}
    @JsonSubTypes.Type(value = {{modelName}}.class, name = "{{mappingName}}"){{^-last}},{{/-last}}
{{/mappedModels}}
})