#
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Helm tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  GRADLE_TOS_ACCEPTED: ${{ vars.GRADLE_TOS_ACCEPTED }}
  DEVELOCITY_SERVER: ${{ vars.DEVELOCITY_SERVER }}
  DEVELOCITY_PROJECT_ID: ${{ vars.DEVELOCITY_PROJECT_ID }}

jobs:

  helm-tests:
    name: Helm tests
    runs-on: ubuntu-latest
    timeout-minutes: 60

    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
        with:
          fetch-depth: 0

      - name: Set up JDK 21
        uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # v5
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Set up Helm
        uses: azure/setup-helm@1a275c3b69536ee54be43f2070a358922e12c8d4 # v4.3.1
        with:
          version: 'v3.16.0'

      - name: Set up chart-testing
        uses: helm/chart-testing-action@0d28d3144d3a25ea2cc349d6e59901c4ff469b3b # v2.7.0

      - name: Run 'helm template' validation
        run: |
          cd helm/polaris
          for f in values.yaml ci/*.yaml; do
            echo "::group::helm template $f"
            helm template --debug --namespace polaris-ns --values $f .
            echo "::endgroup::"
          done

      - name: Run Helm unit tests
        run: |
          helm plugin install https://github.com/helm-unittest/helm-unittest.git || true
          helm unittest helm/polaris

      - name: Run chart-testing (lint)
        run: ct lint --target-branch ${{ github.event.repository.default_branch }} --debug --charts ./helm/polaris

      - name: Set up Minikube
        uses: medyagh/setup-minikube@e3c7f79eb1e997eabccc536a6cf318a2b0fe19d9 # v0.0.20

      - name: Print Docker info
        run: |
          docker -v
          minikube docker-env

      - name: Image build
        env:
          DEVELOCITY_ACCESS_KEY: ${{ secrets.DEVELOCITY_ACCESS_KEY }}
        run: |
          eval $(minikube -p minikube docker-env)
          ./gradlew \
            :polaris-server:assemble \
            :polaris-server:quarkusAppPartsBuild --rerun \
            :polaris-admin:assemble \
            :polaris-admin:quarkusAppPartsBuild --rerun \
            -Dquarkus.container-image.build=true
          minikube image ls

      - name: Install fixtures
        run: |
          kubectl create namespace polaris-ns
          kubectl apply --namespace polaris-ns -f helm/polaris/ci/fixtures 

      - name: Run chart-testing (install)
        run: |
          ct install --target-branch ${{ github.event.repository.default_branch }} \
            --namespace polaris-ns \
            --debug --charts ./helm/polaris
